﻿@model Tuple<List<ICA_7.Models.CustomerModel>, ICA_7.Models.CustomerModel>

<div>
    @Html.Label("Customer Details: ")
    <br />
</div>
<div>
    @Html.DisplayFor(modelItem => Model.Item2.Name) <br />
    @Html.DisplayFor(modelItem => Model.Item2.ID)
</div>
