﻿@model Tuple<List<ICA_7.Models.CustomerModel>,ICA_7.Models.CustomerModel>

@{ Layout = "~/Views/Shared/_Layout.cshtml";}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DiffSelect</title>
    <link rel="stylesheet" href="~/CSS/styles.css" />
</head>

<body>
    @{
        ViewBag.Title = "Customer";
    }

    @using (Html.BeginForm("OnSelectCustomer", "Customer", FormMethod.Post))
    {
        for (int i = 0; i < Model.Item1.Count; i++)
        {
            string customerID = Model.Item1.ElementAt(i).ID.ToString();
            @Html.RadioButton("customer", customerID); <text>Customer @customerID </text> <br />
        }

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    }
</body>
</html>